<%- include('../partials/header'); %>

<main class="main main-404">
    <div class="container">
        <h2 class="header-h2">You can shake me as hard as you want! This page does not exist!</h2>
        <img src="/media/blackdynamite.gif" alt="Black Dynamite gif" class="img-fluid w-100" />
    </div>
</main>


<%- include('../partials/footer'); %>