<%- include('../partials/header'); %>

    <main class="main main-home">
        <div class="container">
            <div class="row">
                <h2 class="header-h2"><%= name %></h2>
                <div class="col-md-6">
                    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis praesentium distinctio rem quod accusantium corrupti cumque eum amet, impedit non nesciunt quidem, nemo fuga natus, ex ea voluptas voluptate molestias aspernatur voluptatibus iusto! Cumque, distinctio modi aliquid obcaecati minus harum reiciendis ipsam dignissimos deserunt! Aut perferendis sunt debitis beatae suscipit quibusdam et fuga, eligendi qui consequatur possimus neque autem consectetur tempora alias recusandae, deserunt cumque culpa molestias vel veniam sit repudiandae? Corporis neque in illo placeat nostrum ut facilis expedita! Fugit excepturi ipsum quo molestias non tempora ratione nobis officiis voluptatem! Dolore nemo in necessitatibus qui nobis a vel facere corporis ipsa sint repellendus non, autem reiciendis minus at modi aliquam eius dignissimos eligendi quam laborum quas. Soluta, ipsa. Non autem quis commodi ut tenetur minima sit ab atque temporibus corporis, odio, ratione ipsam natus, debitis esse nostrum nihil itaque sint! Placeat modi autem assumenda nam? Iusto voluptatem atque ipsam?</p>
                </div>
                <div class="col-md-6">
                    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis praesentium distinctio rem quod accusantium corrupti cumque eum amet, impedit non nesciunt quidem, nemo fuga natus, ex ea voluptas voluptate molestias aspernatur voluptatibus iusto! Cumque, distinctio modi aliquid obcaecati minus harum reiciendis ipsam dignissimos deserunt! Aut perferendis sunt debitis beatae suscipit quibusdam et fuga, eligendi qui consequatur possimus neque autem consectetur tempora alias recusandae, deserunt cumque culpa molestias vel veniam sit repudiandae? Corporis neque in illo placeat nostrum ut facilis expedita! Fugit excepturi ipsum quo molestias non tempora ratione nobis officiis voluptatem! Dolore nemo in necessitatibus qui nobis a vel facere corporis ipsa sint repellendus non, autem reiciendis minus at modi aliquam eius dignissimos eligendi quam laborum quas. Soluta, ipsa. Non autem quis commodi ut tenetur minima sit ab atque temporibus corporis, odio, ratione ipsam natus, debitis esse nostrum nihil itaque sint! Placeat modi autem assumenda nam? Iusto voluptatem atque ipsam?</p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>
    

